button{
    width: 100px;
    height: 35px;
    border: none;
    text-align: center;
    background-color: rgb(110, 171, 224);
    border-radius: 8px;
    color: aliceblue;
    font-size: large;
    font-family: sans-serif;
}

#btn{
    
}











